* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  width: 98%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
}
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 1rem;
}
main {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
