:root {
  --primCol: #7a3ff1;
  --secCol: #f0e7fa;
}

* {
  box-sizing: border-box;
  font-family: "Jost";
}

body {
  background-color: red;
}

.flexContainer {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  background-color: var(--primCol);
  justify-content: space-evenly;
  align-items: center;
}

.navLink,
.navLink:active,
.navLink:hover,
.navLink:visited {
  text-decoration: none;
  color: var(--secCol);
  padding: 20px;
}

.navLink {
  transition: ease-in-out 0.5s;
}
.navLink:hover {
  font-size: 1.2em;
}

.headline {
  margin-top: 20px;
}

/* styling for UC page */

iframe {
  top: 0;
  left: 0;
}
